Source: libdisplaycore-font-bpmonoitalic
Section: libraries
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-font-bpmonoitalic
Section: libraries
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Fonts
Depends: libdisplaycore-core
Provides: BPMonoItalic.h
Description: BPMonoItalic font for DisplayCore
